#Donor_text_1
{
##firstname##,<br>Did you know that 57% of Donors attained each year will not give again?
}

#Donor_text_2
{
<p id='p2'>Play your hand to win ##company## more donors. Enter a drawing to receive a Free 3 month donor campaign by answering two questions. You will also receive articles about the Power of Personalization and Understanding Donor Loyalty.</p>
}

#Donor_text_3
{
##firstname##, thanks for your feedback. Let us show you how to increase your odds and win more donors. Confirm your information for a chance to win a Free 3 month marketing campaign.
}

#Donor_survey_home
{
<p>Find out how to use advanced personalization and data optimization techniques to improve retention.</p>

<form role="form" id="survey1" class="form1" method="post">
  <div class="form-group">
    <label class="h4 strong" for="question_3">Do you use personalization in your direct marketing today?</label>
    <textarea class="form-control" id="question_3" name="question_3"></textarea>
  </div>
  
  <div class="form-group">
    <label class="h4 strong" for="question_4">What increase in engagement would you like see in 2017?</label>
    <textarea class="form-control" id="question_4" name="question_4"></textarea>
  </div>
  
  <div class="form-group submit">
    <input id="submitBtn" type="submit" value="Load the Dice">
  </div>
</form>
}

#Donor_thankYouEmail_html
{
<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8" content="width=600px, initial-scale=1.0" name="viewport" />
  <style type="text/css">
    td.body, td.footer { 
      padding: 15px; 
    }
    p, span, a {
      font-family: trebuchet ms, helvetica, sans-serif;
    }
  </style>
</head>
<body>
<center>
<table style="width:600px;" width="600">
  <tbody>
    <tr>
      <td class="header"><img alt="banner_img" src="https://s3.amazonaws.com/loadthedice.com/images/diceEmailHeader.jpg" /></td>
    </tr>
    <tr>
      <td class="body">
        <p>##firstname##,<br />
          <br />
          Thanks for taking the time to answer questions. Here are the links to the article and case study. I hope those give you some ideas on how to make an impact with your direct marketing and WIN new donors! You're now in the drawing for a free 3-month marketing campaign.
        </p>

        <a href="http://##purl##.winmoredonors.com/tp3_article.html">Download Article</a><br>
        <a href="http://##purl##.winmoredonors.com/tp3_caseStudy.html">Download Case Study</a>
      </td>
    </tr>
    <tr>
      <td class="footer">
      <p>Regards,</p>

      <span>##rep_name##<br />
      Advertisers Printing Company Inc.<br />
      1229 S. Vandeventer Ave.<br />
      St. Louis, MO 63110<br />
      <br />
      Click here to <a href="##Unsubscribe RedirectURL='http://studio.m.mdl.io/unsubscribe' ##">unsubscribe</a>.</span></p>
      </td>
    </tr>
  </tbody>
</table>
</center>
</body>
</html>
}

#Donor_thankYouEmail_plain
{
##firstname##,
  
Thanks for taking the time to answer questions. Here are the links to the article and case study. I hope those give you some ideas on how to make an impact with your direct marketing and WIN new donors! You're now in the drawing for a free 3-month marketing campaign.

http://##purl##.winmoredonors.com/tp3_article.html
http://##purl##.winmoredonors.com/tp3_caseStudy.html

Regards,
##rep_name##
Advertisers Printing Company
1229 S. Vandeventer Ave.
St. Louis, MO 63110

To unsubscribe, visit ##Unsubscribe RedirectURL="http://www.yourdomain.com"##
}
