#Donor_text_1
{
##firstname##, tired of gambling with marketing to raise more funds?
}

#Donor_text_2
{
<p id="p2">
  Answer 2 questions to receive a case study on how to load the dice and cash-in with more donors. 
  You can also receive a $50 Amazon gift card when you meet with our fundraising expert to receive a 
  FREE strategic concept based on ##company## objectives.
</p>
}

#Donor_text_3
{
##firstname##, thanks for your feedback. Let us show you how to increase your odds and win more donors. Confirm your information and cash in your chips to receive the case study and details on how to redeem your $50 Amazon gift card.
}

#Donor_survey_home
{
<form role="form" id="survey1" class="form1" method="post">
  <div class="form-group">
    <label class="h4 strong" for="question_1">How many times a year do you communicate with your donors?</label>
    <textarea class="form-control" id="question_1" name="question_1"></textarea>
  </div>

  <div class="form-group">
    <label class="h4 strong" for="question_2">What is your biggest challenge in hitting fundraising goals?</label>
    <textarea class="form-control" id="question_2" name="question_2"></textarea>
  </div>

  <div class="form-group submit">
    <input id="submitBtn" type="submit" value="Load the Dice">
  </div>
</form>
}

#Donor_thankYouEmail_html
{
<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8" content="width=600px, initial-scale=1.0" name="viewport" />
  <style type="text/css">
    td.body, td.footer { 
      padding: 15px; 
    }
    p, span, a {
      font-family: trebuchet ms, helvetica, sans-serif;
    }
  </style>
</head>
<body>
<center>
<table style="width:600px;" width="600">
  <tbody>
    <tr>
      <td class="header"><img alt="banner_img" src="https://s3.amazonaws.com/loadthedice.com/images/diceEmailHeader.jpg" /></td>
    </tr>
    <tr>
      <td class="body">
        <p>##firstname##,<br />
          <br />
          Thanks for taking the time to answer questions. Here is the link to the article. I hope this article gives you some ideas on how to make an impact with your direct marketing and WIN new donors! I will be in touch soon regarding your $50 Amazon gift card.
        </p>

        <a href="http://##purl##.winmoredonors.com/tp2_article.html">Download Article</a>
      </td>
    </tr>
    <tr>
      <td class="footer">
      <p>Regards,</p>

      <span>##rep_name##<br />
      Advertisers Printing Company Inc.<br />
      1229 S. Vandeventer Ave.<br />
      St. Louis, MO 63110<br />
      <br />
      Click here to <a href="##Unsubscribe RedirectURL='http://studio.m.mdl.io/unsubscribe' ##">unsubscribe</a>.</span></p>
      </td>
    </tr>
  </tbody>
</table>
</center>
</body>
</html>
}

#Donor_thankYouEmail_plain
{
##firstname##,
  
Thanks for taking the time to answer questions. Here is the link to the article. I hope this article gives you some ideas on how to make an impact with your direct marketing and WIN new donors! I will be in touch soon regarding your $50 Amazon gift card.

http://##purl##.winmoredonors.com/tp2_article.html

Regards,
##rep_name##
Advertisers Printing Company
1229 S. Vandeventer Ave.
St. Louis, MO 63110

To unsubscribe, visit ##Unsubscribe RedirectURL="http://www.yourdomain.com"##
}

#Student_text_1
{
##firstname##, tired of gambling to win new students? Learn how a school increased student inquiries by 79%
}

#Student_text_2
{
<p id="p2">
  Answer 2 questions to download the article.  You can also receive a $50 Amazon gift card when you meet with our student acquisition expert to receive a FREE strategic concept based on ##company## objectives.
</p>
}

#Student_text_3
{
##firstname##, thanks for your feedback.  Let us show you how to increase your odds and win more students. Confirm your information and cash-in your chips to receive the article and details on how to redeem your $50 Amazon gift card.
}

#Student_survey_home
{
<form role="form" id="survey1" class="form1" method="post">
  <div class="form-group">
    <label class="h4 strong" for="question_1">What are your key enrollment objectives for 2016-2017?</label>
    <textarea class="form-control" id="question_1" name="question_1"></textarea>
  </div>

  <div class="form-group">
    <label class="h4 strong" for="question_2">What is your biggest challenge in hitting enrollment targets?</label>
    <textarea class="form-control" id="question_2" name="question_2"></textarea>
  </div>

  <div class="form-group submit">
    <input id="submitBtn" type="submit" value="Load the Dice">
  </div>
</form>
}

#Student_thankYouEmail_html
{
<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="utf-8" content="width=600px, initial-scale=1.0" name="viewport" />
	<style type="text/css">
    td.body, td.footer { 
      padding: 15px; 
    }
    p, span, a {
      font-family: trebuchet ms, helvetica, sans-serif;
    }
	</style>
</head>
<body>
<center>
<table style="width:600px;" width="600">
	<tbody>
		<tr>
			<td class="header"><img alt="banner_img" src="https://s3.amazonaws.com/loadthedice.com/images/diceEmailHeader.jpg" /></td>
		</tr>
		<tr>
			<td class="body">
        <p>##firstname##,<br />
          <br />
          Thanks for taking the time to answer questions. Here is the link to the article. I hope this article gives you some ideas on how to make an impact with your direct marketing and WIN new students! I will be in touch soon regarding your $50 Amazon gift card.
        </p>

        <a href="http://##purl##.winmorestudents.com/tp2_article.html">Download Article</a>
      </td>
		</tr>
		<tr>
			<td class="footer">
			<p>Regards,</p>
		
			<span>##rep_name##<br />
			Advertisers Printing Company Inc.<br />
			1229 S. Vandeventer Ave.<br />
			St. Louis, MO 63110<br />
			<br />
			Click here to <a href="##Unsubscribe RedirectURL='http://studio.m.mdl.io/unsubscribe' ##">unsubscribe</a>.</span></p>
			</td>
		</tr>
	</tbody>
</table>
</center>
</body>
</html>
}

#Student_thankYouEmail_plan
{
##firstname##,
  
Thanks for taking the time to answer questions. Here is the link to the article. I hope this article gives you some ideas on how to make an impact with your direct marketing and WIN new donors! I will be in touch soon regarding your $50 Amazon gift card.

http://##purl##.winmorestudents.com/tp2_article.html

Regards,
##rep_name##
Advertisers Printing Company
1229 S. Vandeventer Ave.
St. Louis, MO 63110

To unsubscribe, visit ##Unsubscribe RedirectURL="http://www.yourdomain.com"##
}